<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('layouts/head') %>
    <link rel="stylesheet" href="/css/careers.css" />
  </head>
  <body>
    <%- include('layouts/navbar') %>
    <main class="main" id="main">
      <h1 class="visuallyhidden">Adjara Group Careers</h1>
      <section class="ag-careers hero">
        <figure class="ag-careers-hero-bg inh-size">
          <img height="800" class="ag-careers-bg inh-size" src="/assets/img/logos/ag-careers-hero.png" alt="" />
        </figure>
        <div class="ag-careers-hero-content">
          <h2 class="ag-careers-title">Work With Us</h2>
          <button>Send Resume</button>
        </div>
      </section>

      <section class="ag-careers-explore global-width">
        <h2 id="exploreCareers" class="title">Explore Careers</h2>
        <p style="font-size: 14px"><a href="#">Write to us</a> if there is no suitable vacancy for you in the list</p>

        <div class="careers-container global-grid">
          <nav class="careers-nav">
            <ul class="careers-nav-list">
              <li class="careers-nav-item careers-nav-item-all"><a href="/careers#exploreCareers" class="careers-nav-link underline">All Jobs</a></li>
              <% for(let category of careerCategories) {%>
              <li class="careers-nav-item"><a href="/careers?category=<%= encodeURIComponent(category) %>#exploreCareers" class="careers-nav-link underline"><%= category %></a></li>
              <% } %>
            </ul>
          </nav>
          <% if(careers.length > 0) { %>
          <div class="job-results">
            <div class="job-results-th jobs-grid">
              <div data-jobCol="position">Position</div>
              <div data-jobCol="location">Location</div>
              <div data-jobCol="employment type">Employment Type</div>
              <div data-jobCol="posted date">Posted Date</div>
            </div>
            <% for (let job of careers) { %>
            <div class="job-result-tr">
              <div class="job-item-row jobs-grid">
                <div data-jobCol="position"><%= job.position %></div>
                <div data-jobCol="location"><%= job.location %></div>
                <div data-jobCol="employmentType"><%= job.employmentType %></div>
                <div data-jobCol="postDate"><%= job.postDate.toLocaleDateString() %></div>
              </div>
              <div class="job-item-content">
                <div class="job-content">
                  Category: <%= job.category %> <br>
                  Deadline: <%= job.deadline.toLocaleDateString() %> <br>
                  Remote: <%= job.remote %> <br>
                  Salary: <%= job.salary %>
                </div>
                <div class="job-content"><%- job.description %></div>
              </div>
            </div>
            <% } %>
          </div>
          <% } else { %>
          <h3 style="grid-column: 3 / end; justify-self: center; align-self: center">No Jobs Available</h3>
          <% } %>
        </div>
      </section>
    </main>
    <%- include('layouts/footer') %>
  </body>
</html>
