<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('layouts/head') %>
  </head>
  <body>
    <%- include('layouts/navbar') %>
    <main class="main" id="main">
      <h1 class="visuallyhidden">Adjara Group Careers</h1>
      <section class="ag-careers hero">
        <figure class="ag-careers-hero-bg inh-size"></figure>
        <div class="ag-careers-hero-content">
          <h2 class="ag-careers-title">Work With Us</h2>
          <button>Send Resume</button>
        </div>
      </section>

      <section class="ag-careers-explore global-width">
        <h2 id="exploreCareers" class="title">Explore Careers</h2>
        <p style="font-size: 14px"><a href="#">Write to us</a> if there is no suitable vacancy for you in the list</p>

        <div class="careers-container global-grid">
          <nav class="careers-nav">
            <ul class="careers-nav-list">
              <li class="careers-nav-item careers-nav-item-all"><span class="nav-cat-title underline">All Jobs</span><span class="job-cat-count">(<%= totalLen %>)</span></li>
              <% for(let category of careerCategories) { %>
              <li class="careers-nav-item careers-nav-item"><span class="nav-cat-title underline"><%= category._id %></span><span class="job-cat-count">(<%= category.count %>)</span></li>
              <% } %>
            </ul>
            <div class="careers-alternate-nav">
              <label for="jobFilter">Filter Positions: </label>
              <select name="jobFilter" id="jobFilter">
                <option value="/careers#exploreCareers">All Jobs</option>
                <% for(let category of careerCategories) { %>
                <option value="/careers?category=<%= encodeURIComponent(category._id) %>#exploreCareers"><%= category._id %></option>
                <% } %>
              </select>
            </div>
          </nav>

          <div class="job-results">
            <div class="job-results-th jobs-grid">
              <div data-jobCol="position">Position</div>
              <div data-jobCol="location">Location</div>
              <div data-jobCol="employmentType">Employment Type</div>
              <div data-jobCol="postDate">Posted Date</div>
            </div>
            <div class="job-rows">
              <% for (let job of careers) { %>
              <div class="job-result-tr">
                <div class="job-item-row jobs-grid">
                  <div data-jobCol="position"><%= job.position %></div>
                  <div data-jobCol="location"><%= job.location %></div>
                  <div data-jobCol="employmentType"><%= job.employmentType %></div>
                  <div data-jobCol="postDate"><%= job.postDate.toLocaleDateString() %></div>
                </div>
                <div class="job-item-content">
                  <div class="job-content">
                    <div class="job-cat-title category">Category</div>
                    <div class="job-cat-txt category"><%= job.category %></div>
                    <div class="job-cat-title deadline">Deadline</div>
                    <div class="job-cat-txt deadline"><%= job.deadline.toLocaleDateString() %></div>
                    <% if(job.remote) { %>
                    <div class="job-cat-title remote">Remote</div>
                    <div class="job-cat-txt remote"><%= job.remote %></div>
                    <% } %> <% if(job.salary) { %>
                    <div class="job-cat-title salary">Salary</div>
                    <div class="job-cat-txt salary"><%= job.salary %></div>
                    <% } %>
                  </div>
                  <div class="job-content descr"><%- job.description %></div>
                </div>
              </div>
              <% } %>
            </div>
          </div>

          <template id="job-result-template">
            <div class="job-result-tr">
              <div class="job-item-row jobs-grid">
                <div data-jobCol="position"></div>
                <div data-jobCol="location"></div>
                <div data-jobCol="employmentType"></div>
                <div data-jobCol="postDate"></div>
              </div>
              <div class="job-item-content">
                <div class="job-content">
                  <div class="job-cat-title category">Category</div>
                  <div class="job-cat-txt category"></div>
                  <div class="job-cat-title deadline">Deadline</div>
                  <div class="job-cat-txt category"></div>
                  <div class="job-cat-title remote">Remote</div>
                  <div class="job-cat-txt category"></div>
                  <div class="job-cat-title salary">Salary</div>
                  <div class="job-cat-txt category"></div>
                </div>
                <div class="job-content descr"></div>
              </div>
            </div>
          </template>
        </div>
      </section>
    </main>
    <%- include('layouts/footer') %>
  </body>
</html>
