<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('layouts/head') %>
    <link rel="stylesheet" href="/css/companyTimeline.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/ScrollTrigger.min.js"></script>
  </head>
  <body>
    <%- include('layouts/navbar') %>
    <nav class="ct-nav">
      <ul>
        <% for(let t = 0; t < companyTimeline.length; t++) { %>
        <li><a href="#ct<%= t %>"><%= companyTimeline[t].headline %></a></li>
        <% } %>
      </ul>
    </nav>

    <section class="ag-section ct-hero ct-sect">
      <h1>Adjara Group</h1>
      <div class="scroll-down">
        <div>Scroll down through timeline</div>
        <img class="arr-down" src="/assets/img/logos/arrow.svg" alt="Scroll down" />
      </div>
    </section>

    <% for(let t = 0; t < companyTimeline.length; t++) { %>
    <section id="ct<%= t %>" class="ag-section ct-sect global-width">
      <div class="ct-head">
        <h2 class="ct-headline"><%= companyTimeline[t].headline %></h2>
        <span class="ct-year"><%= companyTimeline[t].year %></span>
      </div>
      <img class="ct-img" src="<%= companyTimeline[t].image %>" alt="<%= companyTimeline[t].title %>" />
      <div class="ct-p">
        <p><%= companyTimeline[t].copy %></p>
      </div>
    </section>
    <% } %>
    <%- include('layouts/footer') %>
  </body>
  <script>
    gsap.registerPlugin(ScrollTrigger);

    let sections = document.querySelectorAll(".ct-sect");

    for (let section of sections) {
      gsap.from(section, {
        scrollTrigger: {
          trigger: section,
          toggleActions: "play pause play none",
          start: "20% bottom",
        },
        y: 100,
        opacity: 0,
        duration: 0.6,
        ease: Power1.easeInOut,
      });
    }
  </script>
</html>
