<!DOCTYPE html>
<html lang="en">
  <%- include('layouts/head') %>
  <body>
    <%- include('layouts/navbar') %>
    <main class="main" id="main">
      <section class="ag-section alternative-hero global-width">
        <div class="headling">
          <h1 class="headline">Adjara Group</h1>
          <h2 class="subheadline">A Leading Georgian Company in Hospitality, Development and Agrepreneurship.</h2>
        </div>
        <div class="hero-navigation">
          <nav>
            <ul class="list-nobullet">
              <li><a href="/company" class="underline">Company</a></li>
              <li><a href="#hotels" class="underline">Hotels</a></li>
              <li><a href="#restaurants-and-bars" class="underline">Restaurants & Bars</a></li>
              <li><a href="#co-working-spaces" class="underline">Co-Working Spaces</a></li>
              <li><a href="#development" class="underline">Development</a></li>
            </ul>
          </nav>
        </div>
      </section>

      <% for(let section of homeContent) { %>
        <section class="ag-section global-width alt-home-section" id="hotels">
          <div class="content">
            <h2 class="title"><%= section.title %></h2>
            <p class="paragraph"><%= section.content %></p>
            <a href="<%= section.ctaLink %>" class="underline ag-cta"><%= section.ctaText %></a>
          </div>
          <div class="img-container">
            <picture>
              <img class="alt-home-img lazy" src="" data-src="<%= section.image %>" data-srcset="" alt="asdf" loading="lazy" />
            </picture>
          </div>
        </section>
      <% } %>

      <section class="ag-section featured-news global-width">
        <div class="news-container">
          <h2 class="title title-featured-news">Featured News</h2>
          <div class="news-container-links">
            <a class="ag-news-link large underline ag-cta" href="/newsroom">All News</a>
            <span class="slasher"></span>
            <a class="ag-news-link large underline ag-cta" href="/newsroom/archive">News Archive</a>  
          </div>
          <%- include('layouts/recentArticles', {recentArticles}) %>
        </div>
        <div style="text-align: center; margin: 25px 0;">
          <a href="/newsroom" class="ag-cta large underline">All News →</a>
        </div>
      </section>
    </main>
    <%- include('layouts/footer') %>
  </body>
</html>