<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('layouts/head') %>
  </head>
  <body>
    <%- include('layouts/navbar') %>
    <main class="main" id="main">
      <h1 class="visuallyhidden">Newsroom</h1>
      <% if(typeof featuredArticles !== 'undefined') { %>
      <section class="ag-section featured-news global-width">
        <div class="news-container">
          <h2 class="title">Featured News</h2>
          <%- include('layouts/recentArticles', {recentArticles: featuredArticles}) %>
        </div>
      </section>
      <% } %>
  
      <section class="recent-news global-width global-grid">
        <h2 class="title">Recent News</h2>
        <%- include('layouts/categoryNav', articleCategories) %>
        <div class="recent-news-container">
          <ol class="ag-news-recent-list list-nobullet">
            <% for(let article of articles) { %>
            <li class="ag-news-recent-item translate-animation hidden">
              <a href="/newsroom/<%= article._id %>" class="ag-news-recent-link">
                <article class="ag-news-recent-article">
                  <picture class="ag-news-recent-article-img-container">
                    <img class="ag-news-recent-article-img article-img lazy" src="" data-src="<%= article.image %>" data-srcset="" alt="<%= article.title %>" loading="lazy" />
                  </picture>
                  <div class="ag-news-recent-article-copy ag-article-copy">
                    <div class="ag-recent-article-data ag-article-data">
                      <div class="ag-article-category" data-category="<%= article.category.toLowerCase() %>"><%= article.category %></div>
                      <time class="ag-article-date" datetime="<%= article.postDate.toLocaleDateString() %>"><%= article.postDate.toLocaleDateString() %></time>
                    </div>
                    <h3><%= article.title %></h3>
                    <p class="ag-recent-article-descr"><%= article.description %></p>
                  </div>
                </article>
              </a>
            </li>
            <% } %>
          </ol>
          <template id="articleLiTemplate">
            <li class="ag-news-recent-item translate-animation hidden">
              <a href="" class="ag-news-recent-link">
                <article class="ag-news-recent-article">
                  <picture class="ag-news-recent-article-img-container">
                    <img class="ag-news-recent-article-img article-img lazy" src="" data-src="" data-srcset="" alt="" loading="lazy" />
                  </picture>
                  <div class="ag-news-recent-article-copy ag-article-copy">
                    <div class="ag-recent-article-data ag-article-data">
                      <div class="ag-article-category" data-category=""></div>
                      <time class="ag-article-date" datetime=""></time>
                    </div>
                    <h3></h3>
                    <p class="ag-recent-article-descr"></p>
                  </div>
                </article>
              </a>
            </li>
          </template>
          <a id="loadMore" data-loading="1" class="ag-btn" href="#`">Load More</a>
        </div>
      </section>  
    </main>
    <%- include('layouts/footer') %>
  </body>
</html>
