<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/newsroomArchive.css" />
    <%- include('layouts/head') %>
  </head>
  <body>
    <%- include('layouts/navbar') %>
    <main class="main" id="main">
      <section class="ag-section archive-title">
        <div class="archive-title-conatiner global-width">
          <h1 class="title">News Archive</h1>
          <p style="margin:0;">Find related links to news and updates from Adjara Group</p>  
        </div>
      </section>
      <section class="ag-section archive global-width global-grid">
        <% for (let date of sortedArticles.keys()) { %>
        <div class="ag-archive-column">
          <h2><%= date %></h2>
          <% for(let article of sortedArticles.get(date)) { %>
          <article class="ag-archive-article">
            <div class="ag-article-category" data-category="<%= article.category.toLowerCase() %>"><%= article.category %></div>
            <div>
              <a class="ag-article-link underline" href="/newsroom/<%= article._id %>"> <%= article.title %></a>
            </div>
          </article>
          <% } %>
        </div>
        <% } %>
      </section>  
    </main>
    <%- include('layouts/footer') %>
  </body>
</html>
