<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('layouts/head') %>
    <link rel="stylesheet" href="/css/sitemap.css" />
  </head>
  <body>
    <%- include('layouts/navbar') %>
    <main class="main" id="main">
      <section class="ag-section sitemap global-width">
        <h1 class="title">Adjara Group Sitemap</h1>
        <ul class="list-nobullet" style="columns: 3 auto">
          <% for(let group of siteMap) { %>
          <li class="sitemap-grp">
            <section style="display: inline-block; vertical-align: top;">
              <h2 class="sitemap-grp-title"><%= Object.keys(group) %></h2>
              <ul class="sitemap-grp-list list-nobullet">
                <% for(let value of Object.values(group)[0]) { %>
                <li class="sitemap-grp-item"><a class="sitemap-grp-link underline" href=""><%= value %></a></li>
                <% } %>
              </ul>
            </section>
          </li>
          <% } %>
        </ul>
      </section>
    </main>
    <%- include('layouts/footer') %>
  </body>
</html>
